<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Only Looker</title>
    <link rel="stylesheet" href="/styles/our_team.css">
</head>

<body>
    <%- include('./includes/navbar.ejs') %>
    <section>
        <div class="container">
            <!-- <% for(const content of contents) {%>
                <div class="card" >
                    <div class="content" id="<%= content.employee_id %>" onclick="seeChart(this)">
                        <div class="imgBx"><img src="<%= content.picture %>"></div>
                        <div class="contentBx">
                            <h3><%= content.name %><br><span>Developer</span></h3>
                        </div>
                    </div>
                </div>
            <% } %> -->
            <% for(const content of contents) {%>
              <div class="card">
                <div class="content">
                  <div class="back">
                    <div class="back-content" >
                      <div class="imgBx"><img src="<%= content.picture %>"></div>
                      <div class="contentBx">
                          <h3><%= content.name %><br><span>Developer</span></h3>
                      </div>
                    </div>
                  </div>
                  <div class="front">
                    <div class="front-content" onmouseover="seeChart(this)">
                      <canvas id="radarChart"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
        </div>
    </section>
</body>

  

</html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/script/our_team.js"></script>
